* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.body {
    width: 21cm;
    height: 25cm;
    display: flex;
    background-color: #e8e8e8;
}

.photo {
    margin-top: 15px;
    width: 80%;
    border-radius: 50%;
}

.left {
    margin-top: 50px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    background: #b5b4ba;
    border-radius: 150px 150px 0 0;
    width: 100%;
}

.skills_title {
    margin-top: 70px;
    margin-left: 5px;
}

.skills {
    margin-left: 20px;
}

.right {
    margin: 90px 0px 0px 40px;
}

.myName {
    margin: 40px 0;
}

.space_max {
    width: 150px;
    height: 5px;
    background-color: black;
}

.space_mini {
    margin-bottom: 15px;
    width: 100px;
    height: 5px;
    background-color: black;
    margin-left: 5px;
}

.jo {
    margin-top: 10px;
    margin-left: 5px;
}

.ico {
    width: 15px;
    height: 15px;
}

.kod {
    margin-left: 0;
    border-left: 2px solid green ;
}

footer {
    background-color: #b5b4ba;
    display: flex;
    width: 21cm;
    height: 25px;
    justify-content: space-between;
}

.logoRs {
    width: 50px;
}

.footerElement {
    width: 33.33%;
    display: flex;
    align-items: center;
}
header {
    margin: 0 auto;
    width: 21cm;
    background-color: rgba(106, 161, 194, 0.671);
}